<configuration scan="true" scanPeriod="30 seconds">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./watcher_log/Watcherapplication.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{[yyyy-MM-dd][HH:mm:ss.SSS]}[%-5level][%logger{68}][%method][%thread][line%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>epp.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
<!--            <pattern>[%d{HH:mm:ss.SSS}][%-5level][%logger{36}.%method:line%line] - %msg%n</pattern>-->
            <pattern>%d{[yyyy-MM-dd][HH:mm:ss.SSS]}[%-5level][%logger{68}][%method][%thread][line%line]%msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="com.dk.platform" level="INFO" additivity="false">-->
<!--        <appender-ref ref="console" />-->
<!--    </logger>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>


</configuration>

